################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs
/norms
/scripts
/model
/tokenizer
/불용어 처리기.exe
/ner_model
/__pycache__
